Package: com.galacticdev.yulkari
Name: Yulkari
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: Dismiss the in app safari view when opening web page in safari from app. 
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
