Package: com.galacticdev.yulkari
Name: Yulkari
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Dismiss the in app safari view when opening web page in safari from app. 
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
Version: 0.0.2
Installed-Size: 344
